@model IEnumerable<Films>
@{
		ViewData["Title"] = "Afrekenen";
}
<h3>Afrekenen</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Titel</td>
			<td>Prijs</td>
		</tr>
	</thead>
	<tbody>

		@foreach (var film in Model)
		{
			<tr>
				<td>@film.Titel</td>
				<td>@film.Prijs</td>
			</tr>
			
		}
		<tr>
			<td>Totaal</td>
			<td>@ViewBag.totaal</td>
		</tr>
	</tbody>
</table>

<h3>Wordt afgereknd aan: <br /></h3>
<h5>@ViewBag.Naam <br /></h5>
<h5>@ViewBag.Adres <br/></h5>
<h5>@ViewBag.Gemeente <br /></h5>