@model WinkelMandjeViewModel

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Titel</td>
				<td>Prijs</td>
				<td>Verwijderen</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var film in Model.WinkelFilmsVoorKlant)
			{
				<tr>
					<td>@film.Titel</td>
					<td>@film.Prijs</td>
					<td>
					@*asp-route-id="@film.FilmId"*@
						<a asp-action="VerwijderFilm"  asp-route-film="@film">
							<img class="icon" src="~/images/delete.png" asp-append-version="true" />
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

@*<a class="btn btn-lg btn-warning" asp-action="GenreFilms" asp-route-id="@Model.WinkelFilmsVoorKlant.Last().GenreId">
	Verder winkelen</a>*@

<a class="btn btn-lg btn-warning afrekenen" asp-action="Afrekenen">
Afrekenen</a>


